* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.page{
    background-color: lightblue;
    max-width: 1024;
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

@media screen and (min-width: 800px){
   .page {
    grid-template-areas: 
     "header header header"
     "main aside aside"
     "footer footer footer";
   } 
}

header {
    background-color: yellow;
    grid-area: header;
}
footer{
    background-color: blue;
    grid-area: footer;
}
main {
    background-color: white;
    grid-area: main;
}
aside {
    background-color: brown;
    grid-area: aside;
}
.footer-list {
    background-color: red;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: right;
    list-style: none;
}

@media screen  and (min-width: 600px){
    .footer-list{
        flex-direction: row;
    }
}
    

.footer-list > li {
    background-color: green;
}

/********************** tab widget *********************/
.tab-list {
    display: flex;
    flex-direction: row;
}

.tab {
    flex-grow: 1;
}

.tab-selected, .tab:hover{
    background-color: aqua;
}
/************** accordion widget *****************/
.accordion {
    width: 100%;
    text-align: left;
    background-color: #eee;
    color:#444;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion::after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion-active, .accordion:hover {
    background-color: #ccc;
}

.accordion-active::after {
    content: '\2796';
}

.accordion-panel {
    background-color: white;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}